// 1) copy this file to config/config.json
// 2) see the CONFIG section in cgmon.js for values you can use here
// 3) remove this line and the ones above it from config/config.json (remove all lines starting with "//")
{
    "minerName": "my miner",
    "email": {
        "user": "youremail@gmail.com",
        "pass": "your gmail password",
        "from": "from email address",
        "to": "to email address"
    }
}
