{
    minerName: 'my miner',
    cgminer: {
        startWaitSeconds: 5,
        cmd: "./start_screen.sh",
        args: [],
        host: "127.0.0.1",
        port: "4028"
    },
    minMHSAv: 1,
    minMHS5s: 1,
    numGPUs: 1,
    maxTemp: 85,
    maxFanSpeed: 4500,
    maxHErrPct: 0,
    maxRejPct: 0,
    monitorIntervalSeconds: 1,
    logLevel: "debug",
    logEnabled: true,
    logPath: "cgmon.log",
    emailEnabled: false,
    email: {
        user: "youremail@gmail.com",
        pass: "your gmail password",
        from: "from email address",
        to: "to email address",
        subject: "cgmon",
        template: "email-template.html"
    },
    numGPUs: 1,
    monitorIntervalSeconds: 5,
    apiResponseThresholdSeconds: 10
}
